pkgbase = pactience-bin
	pkgdesc = Enforce a minimum package age before upgrading Arch Linux packages (pacman/AUR) (prebuilt)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/a77ila/pactience
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = pacman
	depends = gcc-libs
	depends = zlib
	optdepends = paru: AUR package support
	optdepends = yay: AUR package support
	provides = pactience
	conflicts = pactience
	source_x86_64 = pactience-0.1.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/a77ila/pactience/releases/download/v0.1.0/pactience-0.1.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = pactience-0.1.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/a77ila/pactience/releases/download/v0.1.0/pactience-0.1.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = pactience-bin
